.form_step3 {
    position: absolute;
    width: 45%;
    min-height: 600px;
    left: 30%;
    top: 225px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.form_step3 form{
    position: absolute;
    width: 80%;
    height: 520px;
    left: 5%;
    top: 30px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.form_step3_info {
    width: 95%;
    display: flex;
    justify-content: space-between;

}
.form_step3_info :first-child article,
.form_step3_info :last-child article,
.form_business_area article,
.form_description article {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #636363;
    margin-bottom: 9px;
}
.form_step3_info_first input{
    padding: 0 0 0 15px;
    width: 90%;
    border: none;
    min-height: 48px;
    background: #F9F9F9;
    border-radius: 8px;
}
.form_step3_info_second input{
    padding: 0 0 0 15px;
    width: 150px;
    border: none;
    min-height: 48px;
    background: #F9F9F9;
    border-radius: 8px;
}
.required:after{
    content: '*';
    position: relative;
    top: -2px;
    left: 2px;
    width: 7px;
    color: red;
}
.form_business_area {
    width: 100%;
}
.form_business_area input {
    padding-left: 15px;
    min-height: 50px;
    width: 95%;
    background: #F9F9F9;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #A7A7A7;
}
.form_description {
    width: 100%;
}
.form_description textarea {
    resize: none;
    border: none;
    padding-left: 18px;
    padding-top: 12px;
    width: 89%;
    min-height: 150px;
    background: #F9F9F9;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #A7A7A7;
}
.upload_files_input {
    padding-left: 9px;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 50px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
}
.upload_files_input svg {
    margin-right: 3%;
}
.upload_files_input p {
    padding-right: 8px;
    margin-left: 15%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #A7A7A7;
}
.upload_files_input label:hover {
    cursor: pointer;
}
.form_step3 form button {
    width: 150px;
    min-height: 50px;
    background: #DA3F5B;
    border: none;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.business_invalid, .description_invalid {
    width: 100%;
}
.business_invalid input {
    border: 1px solid red;
    padding-left: 15px;
    min-height: 50px;
    width: 95%;
    background: #F9F9F9;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #A7A7A7;
}
.business_invalid:after {
    font-size: 13px;
    content: attr(data-error);
    color: red;
}
.description_invalid textarea {
    resize: none;
    border: 1px solid red;
    padding-left: 18px;
    padding-top: 12px;
    width: 89%;
    min-height: 150px;
    background: #F9F9F9;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #A7A7A7;
}
.description_invalid:after {
    font-size: 13px;
    content: attr(data-error);
    color: red;
}
.quantity_invalid input{
    padding: 0 0 0 15px;
    width: 150px;
    border: 1px solid red;
    min-height: 48px;
    background: #F9F9F9;
    border-radius: 8px;
}
.quantity_invalid:after {
    font-size: 13px;
    content: attr(data-error);
    position: absolute;
    top: 14%;
    left: 63%;
    width: 45%;
    color: red;
}
@media screen and (max-width: 1300px) and (min-width: 1100px){
    .form_step3 {
        width: 50%;
    }
}
@media screen and (max-width: 1100px) and (min-width: 900px) {
    .form_step3 {
        width: 55%;
    }
}
@media screen and (max-width: 900px) and (min-width: 650px){
    .form_step3 {
        width: 65%;
    }
    .form_step3 form {
        width: 90%;
    }
    .quantity_invalid:after {
        font-size: 13px;
        content: attr(data-error);
        position: absolute;
        top: 15%;
        left: 55%;
        width: 90%;
        color: red;
    }
}
@media screen and (max-width: 650px) and (min-width: 480px){
    .quantity_invalid:after {
        font-size: 13px;
        content: attr(data-error);
        position: absolute;
        top: 27%;
        left: 2%;
        width: 90%;
        color: red;
    }
    .form_step3 {
        width: 60%;
        left: 23%;
        min-height: 700px;
    }
    .form_step3 form {
        width: 90%;
        min-height: 650px;
    }
    .form_step3 form article {
        margin-top: 15px;
        width: 90%;
    }
    .form_step3_info {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) and (min-width: 310px){
    .quantity_invalid:after {
        font-size: 13px;
        content: attr(data-error);
        position: absolute;
        top: 26%;
        left: 1%;
        width: 90%;
        color: red;
    }
    .form_step3 {
        top: 190px;
        width: 60%;
        left: 23%;
        min-height: 800px;
    }
    .form_step3 form {
        width: 90%;
        min-height: 750px;
    }
    .form_step3 form article {
        margin-top: 25px;
        width: 90%;
    }
    .form_step3_info {
        display: flex;
        flex-direction: column;
    }
    .upload_files_input {
        padding: 7px;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 130px;
    }
}








