#root {
    width: 100%;
    display: flex;
    justify-content: center;
}
.app {
    font-family: Open Sans;
    position: relative;
    width: 1440px;
    min-height: 1682px;
}
@media screen and (max-width: 1300px) and (min-width: 1100px){
    .app {
        position: relative;
        width: 1300px;
        min-height: 1682px;
    }
}
@media screen and (max-width: 1100px) and (min-width: 900px) {
    .app {
        position: relative;
        width: 1100px;
    }
}
@media screen and (max-width: 900px) and (min-width: 650px){
    .app {
        position: relative;
        width: 900px;
    }
}

